<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="title">Email</label>
                <input type="password" name="email" id="email" >
            </div>
            <div class="form-control">
                <label for="imageUrl">Password</label>
                <input type="password" name="password" id="password">
            </div>
            
           

            <button class="btn" type="submit">Login</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>