<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Something went work, We are working for solving it. Sorry for Inconvenience !!!!</h1>

<%- include('includes/end.ejs') %>