<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <%if (products.length >0 ){%>
                <ul>
                    <% products.forEach(p=>{%>
                        <li>
                            <p><%=p.title %>(<%=p.cartItem.quantity%>)</p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" name="prodId" value="<%=p.id%>">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <%})%>
                </ul>
                <form action="/create-order" method="POST">
                <button class="btn" type="submit">Order Now</button>
                </form>
            <%}else{%>
               <h1>No Products on cart</h1>
                <%}%>
        

        <%- include('../includes/end.ejs') %>