<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage){%>
            <div class="user-message user-message--error"><%=errorMessage%></div>
            <%}%>
        <form class="login-form" action="/signup" method="POST" novalidate>
            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email"
                class="<%= css.find(e=> e.param === 'email') ? 'invalid' : '' %>"
                 name="email" id="email" value="<%=oldInput.email%>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" class="<%= css.find(e=> e.param === 'password') ? 'invalid' : '' %>" name="password" id="password" value="<%=oldInput.password%>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password"
                class="<%= css.find(e=> e.param === 'confirmPassword') ? 'invalid' : '' %>"
                name="confirmPassword" id="confirmPassword" value="<%=oldInput.confirmPassword%>">
            </div>
            <button class="btn" type="submit">Sign Up</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>