<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigations.ejs')%>

    <main>
        <h1>My Products</h1>
        
        <p>List of all the products...</p>
        <% if (prods.length > 0){%>
        <div class="grid">
            <% for (let products of prods){%>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= products.title%></h1>
                </header>
                <div class="card__image">
                    <img src="<%=products.imageUrl%>" alt="A Book">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$<%=products.price %></h2>
                    <p class="product__description"><%=products.description %></p>
                </div>
                <div class="card__actions">
                    <a href="/products/<%=products._id%>" class="btn">Details</a>
                   <%-include('../includes/add-to-cart',{product:products})%>
                </div>
            </article>
            <% } %>
        </div>
        <% } else {%>
            <h1>No Products Found</h1>
            <% }%>
    </main>
    <%- include('../includes/end.ejs')%>